{% extends 'layout.html' %}

{% block title %} Change Password {% endblock %}

{% block main %}

<form action="/changePassword" method="post" class="w-50 mt-4 mx-auto">
    <br>
    <!-- Old Password input -->
    <div class="form-outline mb-4 login">
        <input type="password" name="oldPass" autofocus autocomplete="off" class="form-control" />
        <label class="form-label" for="oldPass">Old Password</label>
    </div>

    <!-- New Password input -->
    <div class="form-outline mb-4 login">
        <input type="password" name="newPass" class="form-control" />
        <label class="form-label" for="newPass">New Password</label>
    </div>

    <!-- New Password Confirmation -->
    <div class="form-outline mb-4 login">
        <input type="password" name="confirmPass" class="form-control" />
        <label class="form-label" for="confirmPass">Confirm New Password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" disabled="disabled" class="btn btn-dark btn-block mb-4">Change Password</button>

    </div>
</form>

{% endblock %}